<!-- Header section -->
<header>
  <h1>
    <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
    Les Argonautes
  </h1>
</header>

<!-- Main section -->
<main>

  <!-- New member form -->
  <h2>Ajouter un(e) Argonaute</h2>
  <form class="new-member-form" [formGroup]="itemForm" (submit)="onSave()" novalidate>
    <label for="name">Nom de l&apos;Argonaute</label>
    <div></div>
    <input id="name" name="name" formControlName="nom" type="text" placeholder="Charalampos" />
    <small *ngIf="fc.nom.invalid && (fc.nom.dirty || fc.nom.touched)"
           class="padding-10 margin-5  alert-danger">
          <span class="text-danger" *ngIf="fc.nom.errors?.required"> Le nom est obligatoire
          </span>
    </small>
    <button [disabled]="itemForm.invalid" type="submit">Envoyer</button>
  </form>

  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section *ngIf="argonauteList$" class="member-list">
    <div *ngFor="let a of argonauteList$" class="member-item">{{a.nom?.trim()}}</div>
  </section>
</main>

<footer>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>
<router-outlet></router-outlet>
